.btn{

    padding:14px 30px;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

    transition:.3s;

}

.btn:hover{

    opacity:.9;

}

.btn-primary{

    background:#0099cc;

    color:#fff;

}

.btn-danger{

    background:#ef4444;

    color:#fff;

}

.btn-success{

    background:#16a34a;

    color:#fff;

}

.btn-secondary{

    background:#6b7280;

    color:#fff;

}