.success-page{
    min-height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f8fcff;
    padding:60px 20px;
}

.success-card{
    background:#fff;
    padding:50px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    max-width:600px;
    width:100%;
}

.success-icon{
    font-size:80px;
    color:#16a34a;
    margin-bottom:20px;
}

.success-card h1{
    color:#0f172a;
    margin-bottom:20px;
}

.success-card p{
    color:#666;
    margin-bottom:10px;
    line-height:1.8;
}

.success-card h3{
    color:#0099cc;
    margin:30px 0;
}

.shop-btn{
    padding:15px 35px;
    border:none;
    border-radius:8px;
    background:#0099cc;
    color:white;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.shop-btn:hover{
    background:#0077aa;
}