.register{

    width:100%;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#eef8ff;

}

.register form{

    width:400px;

    background:white;

    padding:40px;

    border-radius:10px;

}

.register input{

    width:100%;

    padding:15px;

    margin-bottom:20px;

}

.register button{

    width:100%;

    padding:15px;

    background:#0099cc;

    color:white;

    border:none;

}