.section-title{

    text-align:center;

    margin-bottom:50px;

}

.section-title h2{

    font-size:40px;

    color:#0f172a;

    margin-bottom:10px;

}

.section-title p{

    color:#666;

    font-size:18px;

}