.orders{

    background:white;

    padding:30px;

    border-radius:10px;

    margin-top:30px;

}

.orders table{

    width:100%;

    border-collapse:collapse;

}

.orders th{

    background:#0099cc;

    color:white;

    padding:15px;

}

.orders td{

    padding:15px;

    border-bottom:1px solid #eee;

}