.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.table{
border-collapse: collapse;
border-color: black;
margin-top: 20px;
color: black;
text-align: left;
}

th{
  font-weight: bold;

}

.search{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap:400px;

}


input{
  width: 400px;
  height: 40px;
  border: 1px solid rgb(105, 105, 105) ;
  padding: 5px;
  padding-left: 20px;
  border-radius: 5px;

}

input:focus{
  outline:none;
}

svg{
  width: 20px;
  height: 20px;
}

.add{
  display: flex;
align-items: center; 
gap:10px ;
background-color: rgb(17, 17, 255);
color: white;
width: 150px;
height: 40px;
border: none;
border-radius: 5px;
font-size: 20px;
font-weight: ;
}

.addicon{
  font-weight: bolder;
}


.edit{
  color: blue;
}


.del{
  color: red;
}